* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
}
.mar-a {
  margin-left: auto;
  margin-right: auto;
}

.dis-f {
  display: flex;
  width: 100%;
}

.ali-c {
  align-items: center;
}

.jus-bt {
  justify-content: space-between;
}
/*
  UTIL
*/
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
