/*
  VARIABLES
*/

// FONT FAMILY
$font-family: 'Avenir Next';

// BREAKPOINTS
$desktopLarge: 1200px;
$desktop: 900px;
$tablet: 520px;

// COLORS
$brandPrimary: #1b063a;
$brandPrimaryHover: #15042E;
$brandSecondary: #2ba8ff;
$brandBlue: #34D7F3;
$brandGreen: #1ED66C;
$brandLightGreen: #e9fbf1;
$brandPurple: #6E0A7B;
$purple: #6D087C;
$darkPurple: #1B073A;
$brandPink: #FF0074;
$brandRed: #F35858;
$brandDarkBlue: #0269AA;
$alert-color: #FF0000;
$orange: #F2994A;
$grey200: #f0f0f0;
$grey400: #EEEEEE;
$grey450: #DDDDDD;
$grey500: #C1C1C1;
$grey600: #999999;
$grey650: #909090;
$lightRed: #E31414;

// TEXT
$white: #ffffff;
$textDark: #222222;
$textGrey: #747474;
$textLightGrey: #999999;
$textBrandSecondary: #333333;
$grayLighter: #f0f0f0;
$grayLight: #d1d1d1;

// BACKGROUND
$bgDark: #222222;
$bgWhite: #ffffff;
$bgLightGray: #f8f8f8;
$bgDisableButton: #EFEFEF;

// TABLE
$tableBorder: #D7D7D7;
$tableHeaderBg: #F8F8F8;
$detailsRadioGrey: #C1C1C1;

// INPUTS
$inputDisabled: #F0F0F0;

// BODRDERS
$borderGray: #C1C1C1;
$checkboxGrey: #8C9BA5;
$borderLightGray: #F2F2F2;

// HR
$hrColor: #E8E5E5;

// SIGN
$signColor: #BB6BD9;

//MARGIN
$marg_xl: 80px;
$marg_ml: 64px;
$marg_l: 48px;
$marg_m: 32px;
$marg_s: 24px;
$marg_xs: 16px;
